.page-move {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    border-right-width: 1px;
}

.page-move {
    cursor: grab;
    background-color: #eef2f680 !important;
    background-image: url(../img/drag-dots-7164192f.svg);
    background-size: 7px 17px;
    background-position: center center;
    background-repeat: no-repeat;
}